  @import "tailwindcss";

 @font-face {
  font-family: "Formula1";
  src: url("/src/assets/fonts/Formula1-Bold.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Formula1";
  src: url("/src/assets/fonts/Formula1-Regular.otf") format("otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Formula1";
  src: url("/src/assets/fonts/Formula1-Wide.otf") format("otf");
  font-weight: 300;
}

:root {
  font-family: 'Formula1', sans-serif;
}
